{{>header}}
{{!-- add other configs here in <head></head> --}}
</head>
<body>
        <h1>About</h1>
        {{>navbar}}
        <p>This site was created by Mr Willis. It uses data from mapbox.com and weather stack.com</p>
        <img src="/images/naya_willis.jpg" alt="pic" width="250px">
{{>footer}}