{{>header}}
{{!-- add other configs here in <head></head> --}}
</head>
<body>
        <h1>{{ title }}</h1>
        {{>navbar}}

        <form>
                <input type="text" placeholder="Location">
                <button type="submit">
                        Search
                </button>
        </form>

        <p class="p1"></p>
        <p class="p2"></p>

        <script src="/js/app.js"></script>
{{>footer}}